<div class="row">
  <div class="col-md-6 offset-md-3">
    <h6 class="display-6 font-monospace my-3 text-center">Base Converter</h6>
    <form action="">
      <div class="mt-3">
        <label class="form-label" for="decimal">Decimal</label>
        <input class="form-control" type="text" id="decimal" name="decimal">
      </div>
      <div class="mt-3">
        <label class="form-label" for="binary">Binary</label>
        <input class="form-control" type="text" id="binary" name="binary">
      </div>
      <div class="mt-3">
        <label class="form-label" for="octal">Octal</label>
        <input class="form-control" type="text" id="octal" name="octal">
      </div>
      <div class="mt-3">
        <label class="form-label" for="hexadecimal">Hexadecimal</label>
        <input class="form-control" type="text" id="hexadecimal" name="hexadecimal">
      </div>
    </form>
  </div>
</div>
